<div class="max-w-full mx-auto bg-slate-600 rounded-xl overflow-hidden my-6 flex items-center">
  <div class="md:flex items-center">
    <summary class="md:w-full h-full flex items-center justify-center p-6 flex-col gap-6">
      <h1 class="text-8xl text-center font-bold text-gray-100">Welcome to Our
        Open Source APIs</h1>
      <p class="text-xl font-medium text-center text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Tenetur facilis, quasi facere animi repellendus
        veritatis ab, voluptas vel dicta culpa modi quam, nemo debitis nesciunt voluptatum quia aperiam natus. Nihil!
      </p>
      <button class="rounded-full ... bg-slate-300 px-6 py-4 cursor-pointer hover:bg-gray-400">Get Started</button>
    </summary>
    <div class="md:shrink-0" style=" height: 50vh !important;">
      <video class="rounded-2xl grayscale h-full" autoplay="" muted="" loop="" playsinline="" preload="true">
        <source
          src="https://gsap.com/community/uploads/monthly_2024_08/Kapture2024-08-16at15_23_03.mp4.03f479f63f7bb7835d2579cc2502c0e0.mp4"
          type="video/mp4">
      </video>
    </div>
  </div>
</div>