<div class="w-full gap-6 items-center flex justify-center " style="height: calc(100vh - 6rem);">
  <summary class="w-1/2 h-full flex items-center justify-center p-6 flex-col gap-6">
    <h1 class="text-8xl text-center font-bold text-gray-100">Welcome to Our Open Source APIs</h1>
    <p class="text-xl font-medium text-center text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur facilis, quasi facere animi repellendus
      veritatis ab, voluptas vel dicta culpa modi quam, nemo debitis nesciunt voluptatum quia aperiam natus. Nihil!</p>
    <button class="rounded-full ... bg-slate-300 px-6 py-4 cursor-pointer hover:bg-gray-400">Get Started</button>
  </summary>
  <div class="w-1/2 h-full flex justify-center items-center">
    <!-- <img class="h-96 w-96 rounded-full animate-pulse" src="assets/images/landing.jpg" alt="landing-page"> -->
    <video class="rounded-2xl grayscale" autoplay="" muted="" loop="" playsinline="" preload="true"><source src="https://gsap.com/community/uploads/monthly_2024_08/Kapture2024-08-16at15_23_03.mp4.03f479f63f7bb7835d2579cc2502c0e0.mp4" type="video/mp4"></video>
  </div>
</div>
