<a class="card-container shadow-md hover:bg-slate-700 text-gray-300 hover:text-gray-100 hover:shadow-2xl p-5 rounded-lg cursor-pointer size-80 flex flex-col gap-6" routerLink="{{'appDetails/' + cardData.route}}" routerLinkActive="bg-slate-950 font-bold text-yellow-50" [class.active]="isClicked" (click)="isClicked = true" >
  <div class="header flex gap-4 items-center">
    <div class="icon text-xl"><i class="{{cardData.icon}}"></i></div>
    <div class="title text-xl font-medium">{{cardData.name}}</div>
  </div>
  <div class="body font-light">{{cardData.description}}</div>
</a>
