.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  min-height: 200px;
  background-color: dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
